/* ---------------------------------- HEADER ----------------------------------*/

header{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    margin-top:1%;
    text-align: center;
    padding: 1%;
    font-size: 20px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


/* ---------------------------------- MENU ----------------------------------*/

.menu  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(156, 206, 248); /* couleur de l'arrière-plan dans la barre du menu */
  border-radius: 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu li {
  float: left;
}

.menu a {
  display: block;
  color: white; /* couleur des mots dans la barre du menu */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Century;
}

.menu li:hover a{
  background:rgb(156, 206, 248); /* couleur de l'arrière-plan dans la barre du menu LORSQUE ON MET LE CURSEUR DESSUS*/
  color: rgb(14, 102, 173); /* couleur des mots dans la barre du menu LORSQUE ON MET LE CURSEUR DESSUS */
}


/* ---------------------------------- BODY ----------------------------------*/
#start {
  padding-top: 4%;
  padding-left: 0%;
  padding-right: 0%;
}
body {
    background-color: white;
    text-align: center;
}
 

img {
  border-radius: 12px;
}

p{
  color: rgb(14, 102, 173);
}
 /* ---------------------------------- FOOTER ----------------------------------*/

  footer {
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(14, 102, 173);
    margin-top: 5%;
  }
  footer p{
    color:white;
    text-align: center;
    
  }

  
/* ---------------------------------- ABOUT US ----------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(156, 206, 248, 0.829);
  }
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: white;
    color: rgb(14, 102, 173);;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .column p{
    color: rgb(156, 206, 248);
  }

  .column h2 {
    color: rgb(14, 102, 173);
  }

  .column h1 {
    color: rgb(156, 206, 248);
  }

  h2 {
    color: rgb(14, 102, 173);
  }

/* ---------------------------------- RDV ----------------------------------*/
